/* Importing Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins {
    font-family: "Poppins", sans-serif;
}

.screen {

    margin-left: auto;
    margin-right: auto;
    max-width: 1220px;
    min-width: 576px;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.acme-regular {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-roboto;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-oswald font-bold uppercase;
    }

    .h1 {
        @apply text-white text-7xl lg:text-[128px] tracking-[-3px];
        @apply sm:text-5xl md:text-6xl;
    }

    .h2 {
        @apply text-[36px];
        @apply sm:text-[30px] md:text-[32px];
    }

    .h3 {
        @apply text-[32px];
        @apply sm:text-[28px] md:text-[30px];
    }

    .h4 {
        @apply text-[26px];
        @apply sm:text-[24px] md:text-[25px];
    }

    .h5 {
        @apply text-[22px];
        @apply sm:text-[20px] md:text-[21px];
    }
}

.active {
    @apply text-accent;
}

/* swiper pagination styles */
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    @apply bg-accent;
}

.right-inner-shadow {
    box-shadow: inset -35px 0 35px rgba(231, 231, 231, 0.25);
}


/* dashboard styles */
.routes {
    border-radius: 0.5rem;
    padding: 0.5rem

}

.routes:hover {
    --tw-bg-opacity: 1;
    background-color: #d1d1d173
        
    ;
}

.routes.active {
    background-color: rgba(243, 217, 183, 0.336);
    color: rgba(148, 104, 62, 0.747);
}